html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  font-family: 'Ariel', sans-serif;
  font-size: 12px;
  color: #474747;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 940px;
}
/*Header*/
.logo {
  padding-top: 15px;
}

.header {
  background-color: #fff;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*.header ul li {
  display: inline-block;
}*/

.header .search_box {
  position: absolute;
  right: 0;
  top: 4px;
}

.search_box .sphere {
  float: right;
  padding-bottom: 15px;
}

.search_box .sphere li {
  display: inline-block;
}

.search_box .sphere li a {
  border-radius: 100%;
  background-color: #0768a9;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px;
}

.search_box .sphere li a:hover {
  background-color: #dae8f2;
  color: #0768a9;
}

.search_box form.box {
  clear: right;
}

.search_box fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.search_box .blue_button {
  background-color: #0768a9;
  color: white;
  border: 0;
  border-radius: 5px 0 0 5px;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 5px 10px;
  text-transform: uppercase;
  text-shadow: black 0 1px;
  margin-right: -4px;
}

.search_box .blue_button::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #0768a9;
  content: "";
  display: block;
  position: absolute;
  left: 61px;
  top: 6px;
}

.search_box .field {
  background-color: #dae8f2;
  color: #0768a9;
  border: 0;
  font-style: italic;
  padding: 5px 5px 5px 12px;
  margin-right: -4px;
  width: 185px
}


.search_box button {
  background-color: #dae8f2;
  border: 0;
  line-height: 22px;
  color: #afa9ad;
}

.search_box button:hover {
  color: #0768a9;
}

.logo h1 {
  background-image: url(../images/CompLex_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  margin: 0;
  padding-bottom: 30px;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.header .navigation {
  margin-top: 20px;
  height: 25px;
  margin-bottom: -1px;
}

.header .navigation .other {
  float: right;
  line-height: 25px;
}

.header .navigation .other li {
  display: inline;
}

.navigation .other a {
  text-decoration: none;
  color: #757575;
  margin-left: 15px;
}

.navigation .other a:hover {
  color: #0768a9;
}

.navigation .other li:first-child a::after {
  content: "\007C";
  color: #757575;
  margin-left: 15px;
}

.navigation .menu {
  padding-left: 40px;
  float: left;
}

.navigation .menu li {
  position: relative;
  float: left;
}

.navigation .menu li:hover {
  background-color: #0768a9;
  border-radius: 5px 5px 0 0;
}


.navigation .menu a {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #757575;
  padding: 5px 10px;
  text-transform: uppercase;
  display: block;
}

.navigation .menu a:hover {
  color: white;
  text-shadow: black 0 1px;
}


.navigation .menu .sub-menu {
  display: none;
  position: absolute;
  background: #fff;
  top: 100%;
  left: 0;
  z-index: 100;
  border-top: 1px solid #0768a9;
  border-bottom: 5px solid #0768a9;
  padding-top: 5px;
}

.navigation .menu .sub-menu::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #0768a9 transparent transparent transparent;
  content: "";
  display: block;
  position: absolute;
  left: 25px;
  top: 0;
}

.navigation .menu .sub-menus-1 {
  width: 180px;
}

.navigation .menu li:hover > ul {
  display: block;
}

.navigation .menu .sub-menu li {
  float: none;
  display: list-item;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
}

.navigation .menu .sub-menu li:last-child {
  border-bottom: none;
}

.navigation .menu .sub-menu li:hover {
  background: none;
}

.navigation .menu .sub-menu a {
  text-transform: none;
  font-family: 'Ariel', sans-serif;
  font-size: 12px;
}

.navigation .menu .sub-menu a:hover {
  text-shadow: none;
  color: #0768a9;
}

/*Main*/


/*Footer*/
.footer {
  background-color: #757575;
}


/*Clearfix*/
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
